.description {
  background-image: url(../../dist/img/description-bg.png);
  background-size: cover;
  padding-top: 55px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (min-width: $tablet) {
    padding-top: 86px;
  }
  @media only screen and (min-width: $desktop) {
    padding-top: 108px;
    margin-bottom: 82px;
    padding-bottom: 115px;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: $color-white;
    margin-top: 0;
    margin-bottom: 55px;
    text-align: center;
    @media only screen and (min-width: $tablet) {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 42px;
      line-height: 44px;
      margin-bottom: 82px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    @media only screen and (min-width: $tablet) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 0;
      margin-bottom: 25px;
    }
    @media only screen and (min-width: $desktop) {
      padding-right: 0;
      margin-bottom: 75px;
      max-width: 1200px;
    }

    &-item {
      list-style-type: none;
      margin-top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 270px;
      padding-bottom: 45px;
      @media only screen and (min-width: $tablet) {
        margin-bottom: 60px;
        margin: 0;
        min-width: 343px;
      }
    }
  }
  .item__link {
    text-decoration: none;
  }
  .item__text {
    color: $color-white;
    font-family: "Lato";
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
    padding-top: 30px;
    margin: 0;
    text-align: center;
    @media only screen and (min-width: $desktop) {
      font-family: "Lato";
      font-style: italic;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
    }
  }
  &__text {
    color: rgba(162, 145, 165, 1);
    font-family: "Lato";
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    width: 250px;
    text-align: center;
    margin-top: 0;
    padding-bottom: 25px;
    margin-bottom: 0;
    @media only screen and (min-width: $tablet) {
      width: 100%;
      padding-left: 35px;
      padding-right: 30px;
      padding-bottom: 20px;
    }
    @media only screen and (min-width: $desktop) {
      margin-bottom: 0;
      max-width: 1200px;
    }
   
  }
   .divider{
      height: 2px;
      background-color: rgba(100, 87, 102, 1);
      width: 80%;
       @media only screen and (min-width: $tablet){
        width: 80%;
       }
    }
}
