.header {
  position: relative;
  &__navbar {
    width: 100%;
    background-color: rgba(39, 38, 42, 1);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 15px;
    padding-top: 35px;
    @media only screen and (min-width: $tablet) {
      padding: 20px;
      .navbar__menu-list {
        padding-top: 30px;
      }
      @media only screen and (min-width: $desktop) {
        background-color: transparent;
        position: absolute;
        padding-top: 30px;
        padding-right: 90px;
        padding-bottom: 0;
        flex-direction: row-reverse;
            max-width: 1200px;
    margin-left: 50%;
    transform: translate(-50%);
        .navbar__menu-list {
          padding-top: 0;
          margin: 0;
          padding-right: 50px;
        }
        .header__navbar-container {
          padding-left: 90px;
        }
      }
    }
    &-container {
      display: flex;
      align-items: center;
      gap: 17px;
      @media only screen and (min-width: $desktop) {
        position: absolute;
        left: 0;
      }
      &:hover {
        .header__navbar-logo {
          color: $color-white;
        }
        .header__navbar-link {
          background-image: url(../../dist/img/logo-hover.png);
          background-position: center;
        }
      }
    }

    &-link {
      background-image: url(../../dist/img/logo.png);
      color: $primary-color;
      width: 43px;
      height: 41px;
    }
    &-logo {
      display: none;
      @media only screen and (min-width: $tablet) {
        display: block;
        color: $primary-color;
        font-weight: 700;
        font-size: 24px;
        line-height: 16px;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
    &-btn {
      padding: 10px;
      font-weight: 700;
      font-size: 15px;
      line-height: 15px;

      @media only screen and (min-width: $tablet) {
        padding: 10px 20px;
        font-weight: 700;
        font-size: 16px;
        font-family: "Montserrat";
      }
    }

    &-menu {
      height: 23px;
      @include flex;
      gap: 5px;
      background-color: transparent;
      border: none;
      padding: 0;
      position: relative;
      cursor: pointer;

      &::before {
        content: "";
        width: 15px;
        height: 3px;
        background-color: $color-white;
        border-radius: 5px;
      }
      &::after {
        content: "";
        background-color: $color-white;
        width: 26px;
        height: 3px;
        border-radius: 5px;
      }
      .menu__line {
        background-color: $color-white;
        width: 26px;
        height: 3px;
        border-radius: 5px;
      }
      @media only screen and (min-width: $tablet) {
        display: none;
      }
      &.active {
        width: 26px;
        display: flex;
        .menu__line {
          display: none;
        }

        &::before {
          transform: rotate(45deg);
          content: "";
          position: absolute;
          top: 10px;
          display: block;
          width: 23px;
          height: 2px;
          background-color: $color-white;
          transition: opacity ease 0.5s;
          border-radius: 0;
        }
        &::after {
          content: "";
          position: absolute;
          top: 10px;
          display: block;
          width: 23px;
          height: 2px;
          background-color: $color-white;
          transition: opacity ease 0.5s;
          transform: rotate(-45deg);
          border-radius: 0;
        }
      }
    }
  }

  .navbar__menu-list {
    display: none;
    list-style-type: none;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 0;
    &.active {
      display: flex;
      flex-direction: column;
      background-color: rgba(51, 51, 51, 1);
      color: $color-white;
      position: absolute;
      right: 22px;
      top: 106px;
      z-index: 20;

      .menu__list-item {
        padding-top: 30px;
        padding-bottom: 20px;
        cursor: pointer;
        &:hover {
          @media only screen and (min-width: $desktop) {
            color: $color-white;
          }
        }

        &:active,
        &:hover {
          .list__item-link {
            color: $primary-color;
            padding-left: 30px;
            border-left: 8px solid rgba(141, 129, 172, 1);
            display: flex;
            align-items: center;
          }
        }
        .list__item-link {
          font-family: "Montserrat";
          font-weight: 400;
          font-size: 26px;
          line-height: 53px;
          text-decoration: none;
          color: $color-white;
          display: block;
          width: 100%;
          padding-left: 38px;
          &:focus {
            color: $primary-color;
            padding-left: 30px;
            border-left: 8px solid rgba(141, 129, 172, 1);
            outline: none;
          }
        }
      }
    }
    @media only screen and (min-width: $tablet) {
      display: flex;
      gap: 47px;
      padding-right: 0;
      .menu__list-item {
        color: $primary-color;
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        text-decoration: none;
        .list__item-link {
          text-decoration: none;
          color: $primary-color;
          &:hover {
            color: $color-white;
          }
        }
      }
    }
    @media only screen and (min-width: $desktop) {
      margin-right: 50px;
    }
  }

  &__info {
    background-image: url(../../dist/img/header-background.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media only screen and (min-width: $tablet) {
      background-image: url(../../dist/img/header-background-desktop.png);
      background-size: cover;
      background-position: center;
    }
    &-title {
      color: $color-white;
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 48px;
      line-height: 48px;
      margin-top: 50px;
      margin-bottom: 20px;

      @media only screen and (min-width: $tablet) {
        font-family: "Montserrat";
        font-size: 72px;
        line-height: 72px;
        margin-top: 70px;
      }
      // padding-left: 11px;
      @media only screen and (min-width: $desktop) {
        margin-top: 180px;
      }
    }
    &-text {
      color: $primary-color;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 15px;
      margin-top: 0;
      padding-right: 11px;
      padding-left: 11px;
      @media only screen and (min-width: $tablet) {
        font-family: "Lato";
        font-size: 24px;
        line-height: 24px;
        padding: 0;
        margin-bottom: 20px;
      }
    }
    &-devices {
      color: rgba(132, 142, 151, 1);
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 394px;
      margin-top: 0;
    }
    &-btn {
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 18px;
      line-height: 20px;
      padding: 15px 30px;
      position: absolute;
      bottom: -25px;
      @media only screen and (min-width: $tablet) {
        font-family: "Montserrat";
        padding: 25px 60px;
        font-weight: 700;
        font-size: 21px;
        line-height: 23px;
      }
    }
  }
}
