@import "./_variables.scss";
@import "./_mixin.scss";
@import "./_header.scss";
@import "./_description.scss";

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Lato", sans-serif;
  margin: 0;
  * {
    box-sizing: border-box;
  }
}
.body__container {
  width: 100%;
  margin: 0 auto;

  .btn {
    background-color: $primary-color;
    border-radius: 40px;
    color: $color-white;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: $color-white;
      color: $primary-color;
    }
  }
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
