.footer {
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 684px;
   padding: 65px 0 70px 0;
  }
  &-text {
    color: rgba(185, 185, 185, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 35px;
  }
  &-contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(185, 185, 185, 1);
    margin: 0;
  }

  .section-title-footer {
    color: rgba(254, 254, 254, 1);
        margin-top: 0;
    margin-bottom: 20px;
}
  
  .socials-list {
    display: flex;
    gap: 5px;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 35px;
  }
}
