.navbar {
  min-height: 85px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  .button {
    display: none;
    @media only screen and (max-width: 767px) {
      display: block;
      border: 0;
      padding: 0;
      right: 0;
      top: 13px;
      background-color: rgba(0, 0, 0, 1);
      width: 44px;
      height: 37px;
      background-image: url(../../image/menu-button.png);
      transition: 0.5s;
      &.active {
        background-image: url(../../image/menu-button2.png);
      }
    }
  }
  &-list {
    list-style-type: none;
    display: flex;
    gap: 68px;
    padding: 45px 0px 50px 0px;
    justify-content: center;
    margin: 0 auto;
    transition: 0.5s;
    @media only screen and (max-width: 767px) {
      opacity: 0;
      display: flex;
      flex-direction: column;
      background-color: rgba(245, 245, 245, 1);
      position: absolute;
      z-index: 1;
      right: 0;
      min-width: 182px;
      gap: 0;
      padding: 0;
      top: 60px;
      &.active {
        opacity: 1;
      }
    }
    &-link {
      text-decoration: none;
      color: rgba(78, 78, 78, 1);
      font-weight: 400;
      font-size: 11px;
      line-height: 22px;
      letter-spacing: 1.1px;
      text-transform: uppercase;
      @media only screen and (max-width: 767px) {
        width: 100%;
        display: block;
        padding-top: 5px;
        padding: 8px 0 8px 13px;
        &:hover {
          background-color: rgba(229, 229, 229, 1);
        }
        &:focus {
          color: rgba(87, 164, 164, 1);
        }
      }
    }
  }
}
