.posts {
  &-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 25px;
    margin-top: 0;
    margin-bottom: 70px;
    &-info {
      max-width: 390px;
    }
    @media only screen and (max-width: 1199px) {
      flex-wrap: nowrap;
      flex-direction: column;
    }
    &-item {
      max-width: 585px;
      display: flex;
      gap: 21px;
      margin-bottom: 5px;
    }
  }
  .item-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: rgba(78, 78, 78, 1);
    margin-bottom: 0;
  }
  .item-description {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgba(124, 124, 124, 1);
    margin: 0;
    padding-bottom: 13px;
  }
  .item-text {
    font-weight: 400;
    font-size: 14px;
    color: rgba(92, 92, 92, 1);
    line-height: 26px;
    margin: 0;
     @media only screen and (max-width: 767px) {
      display: none;
    }
  }
  .additional {
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}
