.shots {
  background-color: rgb(247, 247, 247);
  &-list {
    display: flex;
    gap: 10px;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 50px;
    justify-content: center;

    &-img {
      @media only screen and (max-width: 767px) {
        display: none;
      }
      @media only screen and (max-width: 1199px) {
        width: 249px;
        height: 249px;
      }
    }
  }
  &-info {
    display: flex;
    justify-content: space-between;
    padding: 72px 0 25px 0;
  }
  .section-title-link {
    text-decoration: none;
    font-size: 13px;
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
  .additional {
    @media only screen and (max-width: 767px) {
      display: block;
      width: 300px;
      height: 300px;
    }
  }
  .img-last {
    @media only screen and (max-width: 1199px) {
      display: none;
    }
  }
}
