@import "./_header.scss";
@import "./_banner.scss";
@import "./_posts.scss";
@import "./_shots.scss";
@import "./_footer.scss";
.body {
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  @media only screen and (max-width: 767px) {
    padding: 25px 23px 28px 42px;
  }
  @media only screen and (max-width: 1199px){
    padding: 40px 90px 50px;
  }
}
.section-title {
  color: rgba(78, 78, 78, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
